html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url(images/background2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: sans-serif;
    overflow-x: hidden;
}


.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.topbar {
    background-color: #000;
    padding: 7px 25px;
    font-family: "Sedan SC", serif;
    box-shadow: 0 2px 5px rgba(0,0,0,0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.logo h1 {
    font-size: 20px;
    color: rgb(222, 220, 220);
}

.navigacija {
    display: flex;
    gap: 30px;
}

.navigacija a {
    text-decoration: none;
    color: rgb(222, 220, 220);
    transition: color 0.3s;
}

.navigacija a:hover {
    color: rgb(120, 120, 120);
}

.portfolio-section {
    max-width: 1200px;
    margin: 60px auto;
    text-align: center;
}

.portfolio-section h2 {
    color: rgb(199, 199, 199);
    font-size: 32px;
    margin-bottom: 15px;
    font-family: Georgia, serif;
}

.portfolio-desc {
    color: rgb(199, 199, 199);
    font-size: 18px;
    max-width: 800px;
    margin: 0 auto 40px;
    line-height: 1.5;
}


.portfolio-grid {
    position: relative;
    width: 600px;
    height: 420px;
    margin: 0 auto;
    perspective: 1200px;
}

.item[data-type="prop"] {
    position: absolute;
    width: 260px;
    height: 200px;
    border: 1px solid #000000;
    overflow: hidden;
    background-color: #00000066;
    transition: 
        transform 0.8s ease,
        box-shadow 0.8s ease,
        opacity 0.8s ease;
    backface-visibility: hidden;
}

.item:nth-child(1) { top: 0; left: 0; }
.item:nth-child(2) { top: 0; left: 320px; }
.item:nth-child(3) { top: 220px; left: 0; }
.item:nth-child(4) { top: 220px; left: 320px; }

.item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(47, 47, 47, 0.388);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.item:hover .overlay {
    opacity: 1;
}


.item:hover {
    z-index: 10;
    transform: translateZ(120px);
    box-shadow: 0 30px 60px rgba(0,0,0,0.65);
}

.portfolio-grid:hover .item:not(:hover) {
    transform: scale(0.9);
    opacity: 0.85;
}

.item:nth-of-type(even) {
    box-shadow: 0 8px 18px rgba(0,0,0,0.4);
}

footer {
    background-color: #000;
    padding: 20px;
    text-align: center;
    color: rgb(222, 220, 220);
    font-size: 14px;
}